<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDedkt1fhK8YiMHQUh5cVbgFZeBXmcKtg</string>
	<key>GCM_SENDER_ID</key>
	<string>759489504503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.books</string>
	<key>PROJECT_ID</key>
	<string>campusolx-ec675</string>
	<key>STORAGE_BUCKET</key>
	<string>campusolx-ec675.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759489504503:ios:57a99a98cfe06d00465ff2</string>
</dict>
</plist>